.Post {
	background-color: #f0efef;
	margin: 130px auto auto;
	.post-events {
		margin: 50px 0;
		background-color: #fff;
		box-sizing: border-box;
		text-align: center;
		padding: 12px;
		border: solid 1px #ccc;
		border-radius: 10px;
		width: 300px;
		box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
		p {
			color: rgb(170, 176, 216);
		}
	}

	.post-cards {
		display: flex;
		flex-direction: row;
		align-items: baseline;
		justify-content: flex-start;
		flex-wrap: wrap;
		margin: auto 10px;

		& .post-info {
			background-color: #fff;
			box-sizing: border-box;
			text-align: center;
			margin: 30px auto;
			padding: 12px;
			border: solid 1px #ccc;
			border-radius: 20px;
			width: 100%;
			max-width: 500px;

			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
				0 6px 20px 0 rgba(0, 0, 0, 0.19);
			figure {
				img {
					width: 50px;
				}
			}
			h3 {
				font-size: 22px;
			}
			p {
				color: #565656;
			}
		}

		.teacher-post {
			background-color: #fff;
			box-sizing: border-box;
			text-align: center;
			margin: 20px auto;
			padding: 12px;
			border-radius: 20px;
			width: 100%;
			max-width: 520px;
			select {
				margin: 15px auto;
				border-radius: 10px;
				width: 100%;
				max-width: 180px;
				outline: none;
			}
			hr {
				/*   border: 1px solid #c71585; */
				border: 1px solid #535353;
				border-radius: 20px;
			}

			button {
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 15px auto;
				background-color: #00aef0;
				outline: none;
				border-radius: 10px;
				border: none;
				transition: 0.5s;
				&:hover {
					background-color: #c71585;
				}
			}
			input {
				border: none;
				border-bottom: 1px solid #535353;
				background-color: #fff;
				width: 100%;
				height: 30px;
				text-align: center;
				max-width: 220px;
				outline: none;
				margin: 10px auto;
			}

			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
				0 6px 20px 0 rgba(0, 0, 0, 0.19);

			i {
				position: absolute;
				display: flex;
				font-size: 50px;
				color: #535353;
			}
			textarea {
				height: 150px;
				border: none;
				margin: 10px;
				width: 70%;
				outline: none;
				padding: 12px;
				background-color: rgb(242, 242, 242);
				border-radius: 20px;

				&::placeholder {
					color: #00aef0;
					text-align: center;
				}
			}
		}
	}
	.Homework-Post {
		max-height: 80vh;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-direction: column;
		margin: 15px auto;
		overflow-y: scroll;
	}
	& ._posts {
		width: 100%;
		max-width: 380px;
		height: auto;
		margin: 15px;
		padding: 10px;
		border-radius: 20px;
		background-color: #fff;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
}

@media (max-width: 425px) {
	.Homework-Post {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
		max-width: 380px;
	}
}

@media (max-width: 1024px) {
	.post-cards {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: auto;
	}
}
