@import "../../../Assets/scss/colors";

.modal_task {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1031;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  .card_modal {
    margin: auto 0;
    width: 80%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 1em;
    .carousel__modal {
      display: flex;
      justify-content: center;
      margin: auto;
      .carousel.slide {
        width: 100%;
        text-align: center;
      }
    }
    i {
      font-size: 30px;
      padding-bottom: 6px;
      cursor: pointer;
      transition: 0.5s ease-out;
      color: #e26a6a;
      &:hover {
        color: #c0392b;
      }
    }
    .carousel-item {
      img {
        width: 320px;
      }
    }
    .card-content {
      width: 100%;
      input[type="number"] {
        border-radius: 10px;
        padding: 0.8em;
        border: 1px solid gray;
        outline: none;
      }
    }
    .card-body {
      select {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: auto;
        border-radius: 10px;
        padding: 0.8em;
        border: 1px solid gray;
        outline: none;
      }
      .btn-card {
        width: 100%;
        max-width: 160px;
        border-radius: 10px;
        margin: auto;
        height: 43px;
        border: none;
        background-color: $main-blue;
        color: white;
        outline: none;
        transition: 0.5s ease-out;
        &:hover {
          background-color: #c71585;
        }
      }
    }
  }
}
.carousel-control-prev,
.carousel-control-next {
  span {
    background-color: $main-blue !important;
    padding: 2em;
    font-size: 1em;
    border-radius: 50%;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.31);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.31);
  }
}
