.FormRegister {
  display: block;
  // width: 50%;
  max-width: 600px;
  min-width: 325px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  background-color: #f0efef;
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  // min-height: 70vh;
  .form-control {
    border-radius: 8px;
    border-style: none;
    outline: none;
  }
  .register-btn {
    border-radius: 8px;
    border-style: none;
    background-color: rgb(0, 174, 239);
    transition-duration: 0.2s;
    outline: none;
  }
  .register-btn:hover {
    color: white;
    background-color: #c71585;
  }
}

.loading_spinner {
  width: 150px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
