// these are from bootstrap grid
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 601px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin mobile {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Small devices
@mixin sm-lg {
  @media (min-width: #{$screen-sm-min}) and (max-width: #{$screen-lg-min}) {
    @content;
  }
}

// Small devices
@mixin sm-md {
  @media (min-width: #{$screen-sm-min}) and (max-width: #{$screen-md-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// apply if under md
@mixin md-max {
  @media (max-width: #{$screen-md-min}) {
    @content;
  }
}

// Apply if under lg
@mixin lg-max {
  @media (max-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

// Apply if under xl
@mixin xl-max {
  @media (max-width: #{$screen-xl-min}) {
    @content;
  }
}

// Custom devices breakpoints
@mixin rwd($screen) {
  @media (min-width: $screen+'px') {
    @content;
  }
}
