.FormRegister {
  width: 50%;
  max-width: 700px;
  min-width: 325px;
  margin: auto;
  min-height: 65vh;

  hr {
    margin: 20px 0px;
    // border: solid #c71585;
    border: 1px solid #535353;
    border-radius: 20px;
  }

  .login_auth_register {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
