.FormRegister {
  width: 50%;
  max-width: 700px;
  min-width: 325px;
  margin: auto;
  min-height: 65vh;

  .login_auth_register {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
