$principalColor: #146eb4;
$secondaryColor: #ff9900;

.blackboard {
	border: 1px solid red;
	width: 50%;
	height: 730px;
	margin-top: 50px;
	background-color: #fff;
	nav {
		width: 100%;
		display: flex;
		justify-content: space-around;
		background-color: $principalColor;
		button {
			outline: none;
			color: #fff;
			cursor: pointer;
			border: none;
			padding: 10px;
			background-color: inherit;
			font-size: 24px;
		}
	}
}

.BoardGuest {
	margin: 20px;
	border: 2px solid $principalColor;
	border-radius: 9px;
	width: 600px;
	height: 800px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}
.postsLoading {
	margin: 20px;
	border: 2px solid $principalColor;
	border-radius: 9px;
	width: 600px;
	height: 600px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 1080px) {
	.BoardGuest {
		margin: 50px auto;
	}
}

@media (max-width: 820px) {
	.BoardGuest {
		width: 600px;
		margin: 50px auto;
	}
}

@media (max-width: 600px) {
	.BoardGuest {
		width: 320px;
	}
}
