.Layout {
  margin: auto;
  background-color: #f0efef;
  height: 827px;

  .LayoutItem {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 12px;
  }

  .TeacherCards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    margin: 22px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
    width: 230px;
    height: 135px;
    border: 1px dashed #ccc;
  }

  .TeacherCards:hover {
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
  }

  i {
    text-align: center;
    font-size: 34px;
  }

  .TeacherCards:nth-child(1) {
    i {
      color: orange;
    }
  }

  .TeacherCards:nth-child(2) {
    i {
      color: blue;
    }
  }

  .sideBoard {
    display: block;
    padding: 16px;
    margin: auto;
    float: right;
    position: relative;
    box-sizing: border-box;
    background-color: #fff;
    text-size-adjust: 100%;
    width: 530px;
    color: rgb(54, 54, 54);

    .teacher-info {
      margin-top: 15px;
      iframe {
        display: flex;
        border-radius: 8px;
        width: 250px;
        height: 145px;
      }
      i {
        float: right;
        margin: auto;
        font-size: 45px;
        color: rgb(18, 132, 174);
      }
    }

    button {
      border-radius: 5px;
      background-color: rgb(0, 174, 239);
      border: none;
      color: white;
    }
  }

  h2 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    color: #545454;
  }
  p {
    font-size: 1rem;
    color: rgb(167, 167, 167);
  }
}

@media (min-width: 830px) {
}
