.modal_send_task {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	& .modal_form {
		position: relative;
		display: flex;
		flex-direction: column;
		margin: 100px auto;
		width: 100%;
		max-width: 500px;
		height: 320px;
		text-align: center;
		padding: 10px;
		border-radius: 10px;
		background-color: #fff;
		button {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 15px auto;
			border: none;
			width: 260px;
			height: 40px;
			border-radius: 10px;
			background-color: #00a4e4;
			color: #fff;
			transition: 0.3s;
			outline: none;
			&:hover {
				background-color: #c71585;
			}
		}
		.form_title {
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-bottom: 1px solid #202329;
			h2 {
				font-size: 25px;
			}
			i {
				font-size: 25px;
				padding-bottom: 10px;
				cursor: pointer;
				transition: 0.3s;
				&:hover {
					color: #686868;
				}
			}
		}
		input {
			height: 50px;
			width: 100%;
			margin: auto;
		}
	}
}
