.add_child_loading {
  margin: 0 95px;
  width: 50%;
  display: flex;
  align-items: center;
  height: 300px;
}

.connect-info {
  color: #363636;
  font-size: 18px;
}
.modal-dialog {
  h4 {
    color: #363636;
  }
  .add-button {
    background-color: #00a4e4;
    border-radius: 10px;
    border: none;
    color: white;
    outline: none;
    transition: 0.3s;
  }
  .add-button:hover {
    background-color: #c71585;
    color: white;
  }
}
