@mixin card {
  width: 250px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #fff;
  border-radius: 20px;
  //original
  // box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
  //options
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 22px;
  border: 1px #ccc;
  transition: 0.3s ease-out;
  // font-family: 'Quicksand', sans-serif;
  font-family: "Roboto", sans-serif;
}

$colorBlue: #00aeef;

.dashboard-teacher {
  display: flex;
  justify-content: space-between;
  margin: auto;
  background-color: #f0efef;
  padding: 20px 20px 20px 0px;
  .class-cards {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: flex-start;
    .group-card {
      @include card();
      h2 {
        font-size: 23px;
        color: $colorBlue;
        margin: 10px 0;
      }
      p {
        font-size: 15px;
        color: $colorBlue;
        margin: 0;
        font-weight: normal;
        span {
          font-weight: lighter;
          color: #000;
        }
      }
      i {
        color: $colorBlue;
      }
    }
    .group-card:hover {
      // -webkit-box-shadow: 10px 10px 20px -8px rgba(0, 166, 255, 1);
      // -moz-box-shadow: 10px 10px 20px -8px rgba(0, 166, 255, 1);
      // box-shadow: 10px 10px 20px -8px rgba(0, 166, 255, 1);
      box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }
    .TeacherCards {
      outline: none;
      @include card();
      h2 {
        font-size: 23px;
        color: $colorBlue;
      }
      i {
        font-size: 30px;
        color: $colorBlue;
        transition: 0.3s ease-out;
      }
    }
    .TeacherCards:hover {
      // -webkit-box-shadow: 10px 10px 20px -8px rgba(0, 166, 255, 1);
      // -moz-box-shadow: 10px 10px 20px -8px rgba(0, 166, 255, 1);
      // box-shadow: 10px 10px 20px -8px rgba(0, 166, 255, 1);
      box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }

    .TeacherCards:nth-child(1) {
      i {
        color: orange;
      }
    }

    .TeacherCards:nth-child(2) {
      i {
        color: rgb(18, 132, 174);
      }
    }
  }

  .sideboard-teacher {
    // display: block;
    // align-items: center;
    // justify-content: center;
    // align-self: flex-end;
    display: block;
    margin: 23px 0px 23px 0px;
    padding: 30px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    // box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    width: 100%;
    max-width: 530px;
    height: 760px;
    color: rgb(54, 54, 54);
    // font-family: 'Quicksand', sans-serif;
    font-family: "Roboto", sans-serif;
    // margin-top: 35px;
    // margin-right: 50px;
    i {
      float: right;
      margin: auto;
      font-size: 30px;
      // color: rgb(18, 132, 174);
      color: #696969;
    }
    h2 {
      font-size: 1.5rem;
      padding-bottom: 1rem;
      // color: #545454;
      // color: #696969;
      color: #000;
      text-transform: uppercase;
      span {
        font-weight: lighter;
      }
    }
    p {
      font-size: 1rem;
      // color: rgb(167, 167, 167);
      color: #000;
      // color: #696969;
      span {
        // color: #000;
        font-weight: bold;
      }
    }
    button {
      border-radius: 10px;
      background-color: rgb(0, 174, 239);
      padding: 8px;
      border: none;
      color: white;
      outline: none;
      transition: 0.3s ease-out;
    }
    button:hover {
      //options
      // background-color: rgb(46, 139, 87);
      // background-color: rgb(30, 144, 255);
      // background-color: rgb(34, 139, 34);
      background-color: #c71585;
      // opacity: 1;
      transition-duration: 0.2s;
      color: white;
    }
  }
}

@media (max-width: 1430px) {
  .dashboard-teacher {
    flex-direction: column;
    padding: 10px;
    .sideboard-teacher {
      // display: flex;
      // margin: auto;
      margin: 23px 0px;
      width: auto;
      max-width: 90%;
      justify-content: center;
      align-self: center;
      // align-items: flex-end;
    }
    .class-cards {
      margin: auto;
      // width: 100%;
      // flex-direction: column;
      justify-content: center;
      // align-self: center;
    }
  }
}

@media (max-width: 880px) {
  .dashboard-teacher {
    flex-direction: column;
    .class-cards {
      margin: auto;
    }
    .sideboard-teacher {
      height: auto;
      width: 100%;
      max-width: 99%;
      margin: 23px 0px;
    }
    button {
      justify-content: center;
    }
  }
}

@media (max-width: 630px) {
  .dashboard-teacher {
    flex-direction: column;
    justify-content: center;
    .class-cards {
      margin: 22px 0px;
      justify-content: space-between;
      justify-content: center;
      .TeacherCards {
        width: 100%;
        margin: 22px 0px;
      }
      .group-card {
        width: 100%;
        margin: 22px 0px;
      }
    }
  }
}
