@mixin card {
  width: 250px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
  margin: 22px;
  border: 1px #ccc;
  transition: 0.3s ease-out;
}

$colorBlue: #00aeef;

.dashboard-teacher {
  margin: auto;
  background-color: #f0efef;
  min-height: 90vh;
  display: flex;
  justify-content: space-between;
  .class-cards {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 12px;
    .TeacherCards {
      width: 230px;
      height: 135px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-transform: uppercase;
      text-decoration: none;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
      margin: 22px;
      border: 1px dashed #ccc;
      transition: 0.3s ease-out;
    }
    .TeacherCards:hover {
      box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
    }
    h2 {
      font-size: 25px;
    }
    i {
      text-align: center;
      font-size: 30px;
    }

    .TeacherCards:nth-child(1) {
      i {
        color: orange;
      }
    }

    .TeacherCards:nth-child(2) {
      i {
        color: rgb(18, 132, 174);
      }
    }
  }

  .sideboard-teacher {
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    width: 100%;
    max-width: 530px;
    height: 890px;
    color: rgb(54, 54, 54);
    margin-top: 10px;
    i {
      float: right;
      margin: auto;
      font-size: 45px;
      color: rgb(18, 132, 174);
    }
    h2 {
      font-size: 1.5rem;
      padding-bottom: 1rem;
      color: #545454;
      text-transform: uppercase;
      span {
        font-weight: lighter;
      }
    }
    p {
      font-size: 1rem;
      color: rgb(167, 167, 167);
      span {
        color: #000;
        font-weight: bold;
      }
    }
    button {
      border-radius: 5px;
      background-color: rgb(0, 174, 239);
      padding: 7px;
      border: none;
      color: white;
      outline: none;
      transition: 0.3s ease-out;
    }
    button:hover {
      background-color: #fff;
      color: rgb(0, 174, 239);
    }
  }
}

@media (max-width: 768px) {
  .dashboard-teacher {
    flex-direction: column;
    .class-cards {
      margin: auto;
    }
    .sideboard-teacher {
      width: 100%;
      max-width: 100%;
      margin: auto;
    }
  }
}

@media (max-width: 572px) {
  .dashboard-teacher {
    .class-cards {
      justify-content: space-between;
      .TeacherCards {
        width: 80%;
      }
    }
  }
}
