.NavContent {
  display: flex;
  height: 5rem;
  padding: 0px 12px;
  position: fixed;
  background: #363636; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #414345,
    #363636
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #414345,
    #363636
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  width: 100%;
  z-index: 10;
  margin: auto;
  h4 {
    margin: auto;
    font-size: 1.1rem;
    padding: 12px;
  }
  .student-content {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    margin: auto;
    padding: 0;
    list-style-type: none;
    li {
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}
