.navLinks {
  display: flex;
  height: 5rem;
  padding: 12px;
  background-color: rgb(87, 91, 125);
  width: 100%;

  h4 {
    font-size: 1.1rem;
    padding: 5px;
    margin: auto;
  }
  .student-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
    li {
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}
