@import '../../Assets/scss/colors';

.Teacher-Portfolio {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 90vh;
  margin: 130px auto 0;
  .portfolio-info {
    margin: auto;
    color: #423e5d;
    text-align: center;
  }

  .sideBoard-activities {
    margin-top: 15px;
    padding: 2em;
    h4 {
      font-size: 1em;
    }
    h4:hover {
      background-color: $blue-hover;
      border-radius: 10px;
      padding: 1em;
      cursor: pointer;
    }

    h2 {
      font-size: 25px;
      color: #423e5d;
      margin-bottom: 0px;
    }
    i {
      border: none;
      border-radius: 50%;
      transition: 0.3s ease-out;
      outline: none;
      color: #00aeef;
      font-size: 1.5em;
      text-align: center;
    }
    i:hover {
      color: rgba(0, 174, 239, 0.5);
    }

    .activities {
      display: flex;
      flex-direction: column;
      border-radius: 8px;
      h4 {
        margin: 10px;
        font-size: 22px;
      }

      i {
        font-size: 30px;
        color: blue;
      }
    }

    .name-students {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }
}
