@import '../../Assets/scss/colors';
@import '../../Assets/scss/breakpoints';

.Teacher-Portfolio {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 90vh;
  margin: 130px auto 0;
  .asignature-btn-float {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: fixed;
    top: 150px;
    left: 20px;
    z-index: 99;
    i {
      font-size: 2em;
    }
  }

  .sideBoard-activities-showed {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1003;
    left: 0;
    color: white;
    animation: slide-open 0.5s forwards;
    background-color: rgba(0, 0, 0, 0.5);
    animation: open-slide 1s forwards;
    .assignments-container {
      overflow: auto;
      height: 100%;
      max-height: 150px;
    }
    .students-container {
      overflow: auto;
      height: 100%;
      max-height: 200px;
    }
    h4 {
      font-size: 0.95em;
      transition: 0.3s ease-out;
      color: white;
    }
    h4:hover {
      background-color: $blue-hover;
      border-radius: 10px;
      padding: 1em;
      cursor: pointer;
    }

    h2 {
      font-size: 25px;
      color: #423e5d;
      margin-bottom: 0px;
      color: white;
    }
  }
  i {
    border: none;
    border-radius: 50%;
    transition: 0.3s ease-out;
    outline: none;
    color: #00aeef;
    font-size: 1.5em;
    text-align: center;
  }
  i:hover {
    color: rgba(0, 174, 239, 0.5);
  }

  .activities {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    h4 {
      margin: 10px;
      font-size: 22px;
    }

    i {
      font-size: 30px;
      color: blue;
    }
  }

  .name-students {
    width: 100%;
  }
  .btn-close-sidebar {
    background-color: $main-blue;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 1em;
  }
}

.sideBoard-activities {
  padding: 2em;
  flex: 1;
  max-width: 300px;
  .assignments-container {
    overflow: auto;
    height: 100%;
    max-height: 150px;
  }
  .students-container {
    overflow: auto;
    height: 100%;
    max-height: 200px;
  }
  h4 {
    font-size: 0.95em;
    transition: 0.3s ease-out;
  }
  h4:hover {
    background-color: $blue-hover;
    border-radius: 10px;
    padding: 1em;
    cursor: pointer;
  }

  h2 {
    font-size: 25px;
    color: #423e5d;
    margin-bottom: 0px;
  }
  i {
    border: none;
    border-radius: 50%;
    transition: 0.3s ease-out;
    outline: none;
    color: #00aeef;
    font-size: 1.5em;
    text-align: center;
  }
  i:hover {
    color: rgba(0, 174, 239, 0.5);
  }

  .activities {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    h4 {
      margin: 10px;
      font-size: 22px;
    }

    i {
      font-size: 30px;
      color: blue;
    }
  }

  .name-students {
    width: 100%;
  }
}

.portfolio-info {
  width: 100%;
  color: #423e5d;
  text-align: center;
  .portfolio-container {
    width: 100%;
    height: 100%;
    max-width: 350px;
    max-height: 300px;
    form {
      width: 100%;
      max-width: none;

      .task-file-container {
        width: 100%;
        max-width: 350px;
        padding: 1em;
        img {
          height: 100px;
          width: 100px;
        }
      }
      .card-status {
        padding: 1em;
        p {
          margin-bottom: 0;
        }
      }
      .btn-task-file {
        background-color: $main-blue;
        color: white;
        border: none;
        border-radius: 10px;
        padding: 1em;
      }
    }
  }
}
