.About {
  box-sizing: border-box;
  margin-top: 50px;
  background-color: #f0efef;
  // font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto', sans-serif;
  h1 {
    text-align: center;
    padding: 50px 0;
    color: #363636;
    font-size: 26px;
  }

  .card-title {
    text-align: center;
  }

  .cards {
    width: 70%;
    margin: 30px auto;
    i {
      font-size: 50px;
      text-align: center;
      justify-content: center;
      padding: 20px 0;
    }
    .card:nth-child(1) {
      i {
        // color: rgb(182, 63, 63);
        color: rgb(0, 174, 239);
      }
    }
    .card:nth-child(2) {
      i {
        // color: rgb(231, 231, 90);
        color: rgb(0, 174, 239);
      }
    }
    .card:nth-child(3) {
      i {
        // color: rgb(58, 58, 216);
        color: rgb(0, 174, 239);
      }
    }
  }
}
