.BoardContent {
  margin: 20px;
  border: 2px solid #2f89fc;
  border-radius: 9px;
  width: 600px;
  height: 800px;
  background-color: #fff;
  display: flex;

  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow: scroll;
  .post {
    border: 2px solid #2f89fc;
    margin: 10px;
    width: 90%;
    background-color: rgb(231, 231, 231);
    padding: 0 5px;
    button {
      margin: 5px;
    }
  }
}
