.Board {
	.boardItem {
		margin: 10px 0;
		border-radius: 8px;
		width: 325px;
		height: 200px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #fff;
		border: 1px solid #2f89fc;
	}
}

@media (max-width: 1080px) {
	.Board {
		display: flex;
		justify-content: space-around;
	}
}

@media (max-width: 820px) {
	.Board {
		flex-direction: column;
		margin: auto;
		align-items: center;
	}
}
@media (max-width: 600px) {
	.Board {
		width: 80%;
		.boardItem {
			width: 100%;
		}
	}
}

@media (max-width: 1024px) {
  .Board .boardItem {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
