.Board {
  .boardItem {
    margin: 10px 0;
    border-radius: 8px;
    width: 325px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #2f89fc;
  }
}
