$principalColor: #00aeef;
$otherColor: #00a4e4;

.Board {
  .Board_Item {
    border-radius: 20px;
    margin: 20px;
    width: 350px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $otherColor;
    cursor: pointer;
    transition: 0.5s ease-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    a {
      color: #fff;
      font-size: 22px;
    }
    &:hover {
      box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
      background-color: #c71585;
    }
  }
}

@media (max-width: 1080px) {
  .Board {
    display: flex;
    justify-content: space-around;
  }
}

@media (max-width: 820px) {
  .Board {
    flex-direction: column;
    margin: auto;
    align-items: center;
  }
}
@media (max-width: 600px) {
  .Board {
    width: 80%;
    .boardItem {
      width: 100%;
    }
  }
}

@media (max-width: 1024px) {
  .Board .boardItem {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
