$blue-light: #00aeef;
$blue-light-hover: rgba(0, 174, 239, 0.5);

.modal_class {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  .modal_form {
    position: relative;
    max-width: 800px;
    width: 100%;
    padding: 2em;
    background-color: #fff;
    border-radius: 10px;
    hr {
      width: 80%;
      margin-top: 0;
    }
    .form_title {
      h2 {
        font-size: 25px;
      }
      i {
        font-size: 25px;
        padding-bottom: 10px;
        cursor: pointer;
        transition: 0.3s ease-out;
        color: $blue-light;
      }
      i:hover {
        color: $blue-light;
      }
    }
    input {
      width: 70%;
      padding: 0.5em;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      margin-bottom: 1em;
    }
    input:focus {
      border: 1px solid rgba(0, 0, 0, 0.1);
    }
    input:active {
      border: 1px solid rgba(0, 0, 0, 0.1);
    }
    input:checked {
      border: 1px solid rgba(0, 0, 0, 0.1);
      background-color: red !important;
      outline: none;
    }
    button {
      width: 50%;
      padding: 0.5em;
      background-color: $blue-light;
      border: 1px solid $blue-light;
      border-radius: 10px;
      color: white;
    }
    button:hover {
      background-color: rgba(0, 174, 239, 0.5);
    }
  }
}
