.header {
  border: 1px solid rgb(223, 223, 223) !important;
  margin-bottom: 50px;
}

.header .navbar {
  background-color: #00a4e4 !important;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
  .navbar-brand {
    text-transform: uppercase;
  }
}

.header {
  a {
    color: #fff;
    font-weight: normal;
  }
}
