.childChart {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: 100px auto;
  .row {
    width: 600px;
    .mixed-chart {
      width: 100%;
      #SvgjsSvg1154 {
        width: 100%;
        max-width: 900px;
        min-width: 320px;
        margin: auto;
      }
    }
  }
}
