.modal_assignment {
  position: fixed;
  display: flex;
  justify-content: center;
  align-self: center;
  z-index: 1004;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  .modal_form {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    max-width: 500px;
    height: 300px;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    .formdata {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      border-bottom: 1px solid #dee2e6;
      border-top-left-radius: calc(0.3rem - 1px);
      border-top-right-radius: calc(0.3rem - 1px);
      h2 {
        font-size: 25px;
      }
      i {
        font-size: 1em;
        cursor: pointer;
        color: rgb(51, 51, 51);
      }
    }
  }
  button {
    background-color: #00a4e4;
    border-radius: 10px;
    border: none;
    color: white;
    outline: none;
    transition: 0.3s;
  }
  button:hover {
    background-color: #c71585;
    color: white;
  }
}
