.modal_assignment {
  position: fixed;
  display: flex;
  justify-content: center;
  align-self: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  .modal_form {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    max-width: 500px;
    height: 300px;
    text-align: center;
    padding: 10px;
    background-color: #f0efef;
    border-radius: 20px;

    .form-control {
      background-color: #ffff;
      border-radius: 10px;
      border: none;
    }

    .formdata {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      border-bottom: 1px solid #dee2e6;
      border-top-left-radius: calc(0.3rem - 1px);
      border-top-right-radius: calc(0.3rem - 1px);

      h4 {
        color: #535353;
        font-size: 25px;
      }
      i {
        // position: relative;
        // right: -40px;
        margin: auto;
        font-size: 28px;

        cursor: pointer;
        transition: 0.5s ease-out;
        // color: #c71585;
        // color: #535353;
        color: #e26a6a;
        &:hover {
          color: #c0392b;
          // color: #e26a6a;
        }
      }
    }
  }
  button {
    background-color: #00a4e4;
    border-radius: 10px;
    border: none;
    margin: auto;
    width: 100%;
    max-width: 340px;
    color: white;
    height: 35px;
    outline: none;
    transition: 0.5s ease-out;
    &:hover {
      background-color: #c71585;
      color: white;
    }
  }
}
