.moda_delete_child {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  margin: auto;

  .data {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    width: 100%;
    max-width: 360px;
    height: auto;
    // text-align: center;
    padding: 10px;
    // background-color: white;
    background-color: #f0efef;
    border-radius: 20px;

    hr {
      border: 1px solid #535353;
      width: 100%;
    }

    h2 {
      margin: auto;
      text-align: center;
      color: #535353;
    }
  }
  i {
    position: absolute;
    padding: 8px;
    font-size: 28px;
    margin: auto;
    cursor: pointer;
    transition: 0.5s ease-out;
    // color: #c71585;
    // color: #535353;
    color: #e26a6a;
    &:hover {
      color: #c0392b;
      // color: #e26a6a;
    }
  }
  button {
    background-color: rgb(0, 174, 239);
    color: white;
    border-radius: 10px;
    width: 100%;
    max-width: 220px;
    margin: auto;
    height: 35px;
    border-style: none;
    cursor: pointer;
    transition: 0.5s ease-out;
    &:hover {
      background-color: #c71585;
    }
  }
}
