.FormLogin {
  width: 50%;
  max-width: 700px;
  min-width: 325px;
  margin: auto;
}

.loading_spinner {
  width: 150px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
