body {
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 22px;
    span {
      font-weight: lighter;
    }
  }
  p {
    font-size: 16px;
    span {
      font-weight: lighter;
    }
  }
  .loading_spinner {
    width: 150px;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}
